<!DOCTYPE html>
<html>
<head>
  <title>help</title>
</head>
<body>
  <h1>This page for help Page</h1>
  <p>This is a simple Node.js + PostgreSQL app.</p>
  <a href="/">Back to Home</a>
</body>
</html>
